.square{
    width: 33%;
}
.square{
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: aliceblue;
}
.square {
	overflow: hidden;
	border-radius: 8px;
	background-size: cover;
	box-shadow: 0 3px 12px rgba(37, 34, 67, 0.9);
}
.square-100 {
	width: 100%;
	padding-bottom: 100%;
}


.grid{
    display: block;
    padding: 0;
    margin: 0, -6px, 12px;
    text-align: left;
    font-size: 0;
}

.grid-cell {
	display: inline-block;
	margin: 0;
	padding: 0 6px;
	text-align: left;
	vertical-align: top;
	width: 100%;
	font-size: 16px;
}

.grid-33 {
	width: 33.333333%;
}


.one {
	background-image: url(https://assets.iamsteve.me/placeholder/1.jpg);
}